.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Do this instead of out-commented block lmao */
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
.left-links {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;

}

.right-links {
  display: flex;
  flex: auto;
  justify-content: flex-end;

  }
*/

ul {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}